<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IsuCorp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <img src="~/Content/Images/isu1.jpg" class="img-responsive" />
        </header>
        <div class="btn-group">
            <button type="button" id="englishLanguage" class="btn btn-primary pull-right" style="max-height: 5%; max-width: 5%">
                <img src="~/Content/Images/uk.jpg" class="img-responsive" />
            </button>
            <button type="button" id="spanishLanguage" class="btn btn-default pull-right" style="max-height: 5%; max-width: 5%">
                <img src="~/Content/Images/sp.jpg" class="img-responsive" />
            </button>
        </div>
        @*<div class="row">            
            <div class="text-right">
                <button type="button" id="englishLanguage" class="btn btn-primary pull-right" style="max-height: 5%; max-width: 5%">
                    <img src="~/Content/Images/uk.ico" class="img-responsive" />
                </button>
                <button type="button" id="spanishLanguage" class="btn btn-default pull-right" style="max-height: 5%; max-width: 5%">
                    <img src="~/Content/Images/sp.ico" class="img-responsive" />
                </button>
            </div>
        </div>*@
        <main>
            @RenderBody()
        </main>
        <footer>
            <img src="~/Content/Images/isu2.png" class="img-responsive center-block" />
        </footer>
    </div>   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/created")
    @RenderSection("scripts", required: false)
</body>
</html>
