@model IsucorpTest.Model.ViewModel.ContactViewModel

@{
    ViewBag.Title = "Edit Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <div class="jumbotron lessPadding noBottomMargin col-lg-12 col-sm-12 col-md-12">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="text-info">Edit Contact</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                @Html.ActionLink("< Back to Contact List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="editClientErrors" style="display: none">
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "editContactName", @type = "text", @placeholder = "Contact Full Name" } })
                        @*<input id="editContactName" type="text" class="form-control" name="contactName" placeholder="Contact Full Name">*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                        <select id="editContactType" class="form-control" name="contactType">
                            @foreach (var item in Model.ListContactTypes)
                            {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                        @Html.HiddenFor(model => model.ContactTypeId)
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "editPhoneNumber", @type = "text", @placeholder = "(99) 9999-9999" } })
                        @*<input id="editPhoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @id = "editBirthDate", @type = "datetime" } })
                        @*<input id="editBirthDate" type="datetime" class="form-control" name="birthDate" placeholder="Birth Date">*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 noPadding">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.TextAreaFor(model => model.Description, 3, 70, new { @id = "editContactDescription" })
                        @*<textarea id="editContactDescription"></textarea>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group pull-right">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input type="button" value="Save" class="btn btn-danger" id="btnEditContact" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        var contactTypeId = @Html.Raw(Json.Encode(Model.ContactTypeId));
        var contactId = @Html.Raw(Json.Encode(Model.Id));
    </script>     
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/created/globalMethods.js"></script>
    <script src="~/Scripts/created/editContact.js"></script>
}

