@model IEnumerable<IsucorpTest.ViewModel.ContactViewModel>
@{ 
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Delete")
<div class="jumbotron lessPadding noBottomMargin col-lg-12 col-sm-12 col-md-12">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="text-info">Create a New Contact for the application here</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-right">
        @Html.ActionLink("New Contact", "Add", null, new { @class = "btn btn-danger", id="newContact" })
    </div>
</div>

<div class="row noLeftRigthMargin col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: 15px; padding-bottom: 15px">
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <label class="control-label" style="padding-top: 10px">Search</label>               
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <input id="searchElement" type="text" class="form-control" placeholder="searchValue" tabindex="1">
            </div>            
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: 15px; padding-bottom: 15px">
        <div class="form-group">
            <div class="col-lg-7 col-md-7 col-sm-7 text-right noPadding">
                <label class="control-label" style="padding-top: 10px">Results per Page</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 pull-left">
                <input id="resultPerPage" type="number" value="7" min="5" max="10" class="form-control center-block" tabindex="2" style="max-width: 60px;">               
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 pull-left noPadding">                
                <input id="goResultPerPage" type="button" value="Go" class="btn btn-info" tabindex="3">
            </div>
        </div>
    </div>
</div>

    <div class="minHeight">
        <table id="indexTable" class="table-responsive table table-striped">
            <thead>
                <tr>
                    <th>
                        <i class="glyphicon glyphicon-user" id="nameHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-phone" id="phoneHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-time" id="birthHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().BirthDate)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-tasks" id="typeHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ContactType.Name)
                    </th>
                    <th></th>
                </tr>
            <thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr id="row">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @{
                                if (item.ContactType.Name == "ContactType1")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkorange; font-size: 24px" title="ContactType1"></i>
                                }
                                else if (item.ContactType.Name == "ContactType2")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkgreen; font-size: 24px" title="ContactType2"></i>
                                }
                                else if (item.ContactType.Name == "ContactType3")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkred; font-size: 24px" title="ContactType3"></i>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { contactId = item.Id }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Delete", "Delete", null, new { title = item.Name, id = item.Id, @class = "btn btn-warning deleteContact" })
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>

@section Scripts{
    <script src="~/Scripts/created/globalMethods.js"></script>
    <script src="~/Scripts/created/deleteContact.js"></script>  
    <script src="~/Scripts/jquery.sortElements.js"></script>
    <script src="~/Scripts/created/sortElements.js"></script>
    <script src="~/Scripts/created/paginate.js"></script>
    <script src="~/Scripts/created/searchElements.js"></script>
    <script>
        $("span.page-number").click(function () {
            $("#searchElement").val("");
        });
    </script>
}
