@using System.Globalization
@using IsucorpTest.Language.Entities
@using IsucorpTest.Language
@model IEnumerable<IsucorpTest.ViewModel.ViewModel.ContactViewModel>
@{
    ViewBag.Title = Common.HomePage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Delete")
@Html.Partial("ClientErrors")
<form class="form-horizontal">
    <div class="jumbotron lessPadding noBottomMargin col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4 class="text-info">@ContactEntity.ContactInfo</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            @Html.ActionLink(@ContactEntity.NewContact, "Add", null, new { @class = "btn btn-danger pull-right", id = "newContact" })
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="searchElement" type="text" class="form-control" placeholder="@Common.SearchValue" tabindex="1">
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">@Common.ResultsPerPage</span>
                <input id="resultPerPage" type="number" value="7" min="5" max="10" class="form-control text-right" tabindex="2">
                <span id="goResultPerPage" class="input-group-addon btn-primary">@Common.Go</span>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table id="indexTable" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <i class="glyphicon glyphicon-user" id="nameHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-phone" id="phoneHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-time" id="birthHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().BirthDate)
                    </th>
                    <th>
                        <i class="glyphicon glyphicon-tasks" id="typeHeader" style="color: blue"></i>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ContactType.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate).ToString().Substring(0, item.BirthDate.ToString().IndexOf(' ') + 1)
                        </td>
                        <td>
                            @{
                                if (item.ContactType.Name == "ContactType1")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkorange; font-size: 24px" title="ContactType1"></i>
                                }
                                else if (item.ContactType.Name == "ContactType2")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkgreen; font-size: 24px" title="ContactType2"></i>
                                }
                                else if (item.ContactType.Name == "ContactType3")
                                {
                                    <i class="glyphicon glyphicon-star" style="color: darkred; font-size: 24px" title="ContactType3"></i>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink(Common.Edit, "Edit", new { contactId = item.Id }, new { @class = "btn btn-success" })
                            @Html.ActionLink(Common.Delete, "Delete", null, new { title = item.Name, id = item.Id, @class = "btn btn-warning deleteContact" })
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>

</form>

@section Scripts{
    <script src="~/Scripts/created/globalMethods.js"></script>
    <script src="~/Scripts/created/deleteContact.js"></script>
    <script src="~/Scripts/jquery.sortElements.js"></script>
    <script src="~/Scripts/created/sortElements.js"></script>
    <script src="~/Scripts/created/paginate.js"></script>
    <script src="~/Scripts/created/searchElements.js"></script>
    <script>
        var DeleteResource = {
            DeleteContactError: '@ContactEntity.DeleteContactError'
        };
        $("span.page-number").click(function () {
            $("#searchElement").val("");
        });
    </script>
}
